* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}

.root {
    width: 100vw;
    height: 100vh;
    background-color: rgba(135, 207, 235, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    width: 400px;
    height: 400px;
    /* border: 2px solid black; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* flex-wrap: wrap; */
    
}
.outer {
    width: 100%;
    height: 11%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.inner {
    width: 11%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
}
.z2, .z4, .z6, .z8 {
    background-color: #dddddd;
}

.red {
    background-color: rgba(255, 0, 0, 0.571);
}
.x3, .x6 {
    border-bottom: 3px solid black;
}
.y3, .y6 {
    border-right: 3px solid black;
}